<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>添加</title>
    <script src="https://cdn.bootcss.com/jquery/1.9.0/jquery.min.js"></script>
    <link rel="stylesheet" href="//at.alicdn.com/t/font_791326_t1qn6a5529g.css">
    <link rel="stylesheet" href="/assets/index/css/ps.css">
    <link rel="stylesheet" href="/assets/index/css/add.css">
</head>
<body>
<header>
    <div class="container">
        <div class="return"><a href="/index.php?c=page&m=index"><i class="iconfont icon-fanhui"></i></a></div>
        <div class="you-want">频道管理</div>
    </div>
</header>
<div class="del">
    <div class="click"><span>点击删除频道</span></div>
    <ul id="remove">
        <?php foreach($category as $k=>$v) { ?>
        <li><a href="javascript:void(0)"><?php  echo $v['name'] ?></a></li>
      <?php } ?>
    </ul>

    <div class="click"><span>点击增加频道</span></div>

    <ul id="add">
        <?php foreach($a as $k=>$v) { ?>
        <li><a href="javascript:void(0)"><?php  echo $v['name'] ?></a></li>
        <?php } ?>
    </ul>
</div>

</body>
<script>
    $(function(){
        $('#add').on('click','li',function(){
                $(this).appendTo('#remove')
        });
        $('#remove').on('click','li',function(){
            if($(this).index()!== 0){
                $(this).appendTo('#add')
            }
        })
    })

</script>
</html>
